# secure htaccess file
<Files .htaccess>
 order allow,deny
 deny from all
</Files>

## require SSL (web servers)
#SSLOptions +StrictRequire
#SSLRequireSSL
#SSLRequire %{HTTP_HOST} eq "willdavis.net"
#ErrorDocument 404 https://willdavis.net

## require SSL (localhost)
SSLOptions +StrictRequire
SSLRequireSSL
SSLRequire %{HTTP_HOST} eq "localhost"
ErrorDocument 404 https://localhost

Options -Indexes

SetEnv EMAIL_PW Dr.C0mput3r?
